extends index

block content
    .container
        h1 Remote Upload
        form(method='post')
            .mb-3
                label.form-label(for='formGroupExampleInput') Phim ID
                input#formGroupExampleInput.form-control(type='text', name='movieId' placeholder='Example input placeholder')
            .col-12
                button(type='submit' class='btn btn-primary') Remote
        if data
            .remote-status.mt-4.mb-4
                each item in data
                    .processing.mt-3(data-id=`${item._id}`, data-pr=`${(item.data.filter(e => e.vimeo).length < item.data.length) && !item.error ? false : true }`)
                        .d-flex.justify-content-between
                            h6= !item.error ? `ID: ${item.movieId} - (${(item.data.filter(e => e.vimeo)).length}/${item.data.length})` : `ID: ${item.movieId} - Error`
                            .icon-close(id=item._id)
                        .progress
                            .progress-bar.progress-bar-striped(role='progressbar', style=`width: ${Math.floor((item.data.filter(e => e.vimeo)).length / item.data.length * 100)}%`)
